@use 'base/variables' as v;
@use 'base/mixins' as m;

.main {
    // Mobile 
    
    // @include m.mobile {
    //     height: 35rem;
    // }

    // Tablet
    
    @include m.tablet {
        height: 100%;
    }

    // Desktop
    
    // @include m.desktop {
    //     height: 90rem;
    // }

    .inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__imagen {
            // filter: brightness(50%);
            width: 100%;
            height: auto;
        }
    }

    .textM {

        // Mobile 

        @include m.mobile {
            width: 30rem;
        }

        // Tablet

        @include m.tablet {
            width: 30rem;
        }

        // Desktop

        @include m.desktop {
            width: 35rem;
        }

        &__titulo {
            text-align: center;
            color: v.$white;

            // Mobile 
            
            @include m.mobile {
                font-size: 3rem;
                line-height: 5rem;
            }
    
            // Tablet
    
            @include m.tablet {
                font-size: 3.2rem;
                line-height: 6rem;
            }
    
            // Desktop
            
            @include m.desktop {
                font-size: 3.6rem;
                line-height: 7rem;
            }
        }
    }
}