@use 'base/variables' as v;
@use 'base/mixins' as m;

.whatsapp {
    display: flex;
    align-items: flex-end;

    &__logo {
        position: fixed;
        right: 1rem;
        bottom: 3rem;

        @include m.tablet {
            right: 2rem;
        }
        @include m.desktop {
            right: 3rem;
        }

        .icon-tabler-brand-whatsapp {
            background-color: #25d366;
            border-radius: 50%;
            padding: .5rem;

            @include m.mobile {
                width: 5rem;
                height: 5rem;
            }

            @include m.tablet {
                width: 6rem;
                height: 6rem;
            }

            @include m.desktop {
                width: 6rem;
                height: 6rem;

                &:hover {
                    background-color: #20b557;
                }
            }
        }
    }
}